GameDesignDoc.md~
.gitignore~
donkey.cpp~
README.md~
gazelle.cpp~
cheetah.cpp~
fox.cpp~
turtle.cpp~
mainwindow.cpp~
animal.cpp~
animal.h~
cheetah.h~
donkey.h~
farmer.cpp~
fox.h~
gazelle.h~
turtle.h~
farmer.h~
main.cpp~
mainwindow.h~
rabbit.cpp~
rabbit.h~
wolf.cpp~
wolf.h~
highscore.txt~
game_rhphilli

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
