GameDesignDoc.md~
.gitignore~
donkey.cpp~
README.md~
gazelle.cpp~
cheetah.cpp~
fox.cpp~
turtle.cpp~
mainwindow.cpp~
game_rhphilli

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
